---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Rss, Book, PanelsTopLeft} from 'lucide-react'
import { Icon } from 'lucide-react';
import Smile from '../icons/Smile.astro'
import Scholar from '../../components/icons/Scholar.astro'
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import ORCID from '../icons/ORCID.astro';
import Onion from '../icons/Onion.astro';
import Tooltip from '../../components/react/Tooltip.tsx'
---

<div class="flex h-full w-full animate-appear">
  <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <!--<h6 class="m-0 text-sm font-light text-gray-500">-->
      <!--  @TechTim42-->
      <!--</h6>-->
      <p class="m-0 text-xl font-light">
        🖖, I'm
        <b class="font-bold">{PROFILE.firstName}</b>.
      </p>
      <ul class="pt-4 pr-4">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === (PROFILE.shortIntros.length / 2)
              //when it is even number, and in the middle add an empty line

              ? <br/>
              :
              <></>
            }
            <li>{intro}</li>
          </>
        ))}
      </ul>
    </div>
    <div class="flex gap-4">
      <a href={PROFILE.links.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <GitHub/>
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      {
        PROFILE.links?.linkedin && <a href={PROFILE.links.linkedin} aria-label="linkedin page" target="_blank">
          <Button aria-label="linkedin page">
            <LinkedIn/>
            <span class="sr-only">LinkedIn Profile</span>
          </Button>
        </a>
      }
      {
        PROFILE.links?.onion && <a href={PROFILE.links.onion} aria-label="onion website" target="_blank">
          <Button>
            <Onion/>
            <span class="sr-only">Onion Website</span>
          </Button>
        </a>
      }
      {
        PROFILE.links?.scholar && <a href={PROFILE.links.scholar} aria-label="scholar profile" target="_blank">
          <Button>
            <Scholar/>
            <span class="sr-only">Scholar Profile</span>
          </Button>
        </a>
      }

      <Tooltip client:visible >
          <Button>
            <Smile/>
            <span class="sr-only">Smile</span>
          </Button>
          <!--<Button>-->
          <!--  <Scholar/>-->
          <!--  <span class="sr-only">Scholar Profile</span>-->
          <!--</Button>-->
      </Tooltip>
    </div>
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[256px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
    width="100%"
    height="auto"
    alt={`image of ${PROFILE.name}`}
  />
</div>

