---
import { buttonVariants } from "../components/ui/button";
import { ModeToggle } from "../components/react/ThemeToggle";
import { PROFILE } from "../content/profileData";

const SITE = PROFILE.site;
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-2">
      <div
        class="hidden dark:block drop-shadow-[0_0_0.3rem_#00ff00] shadow-inner shadow-[#00ff00]/20 rounded-full"
      >
        <img
          src={PROFILE.logo_dark}
          width="60px"
          height="auto"
          alt={`logo of ${PROFILE.name}`}
        />
      </div>
      <div
        class="dark:hidden drop-shadow-[0_0_0.3rem_#0073E6] shadow-inner shadow-primary/20 rounded-full"
      >
        <img
          src={PROFILE.logo}
          width="60px"
          height="auto"
          alt={`logo of ${PROFILE.name}`}
        />
      </div>
      <!--<img-->
      <!--  src={PROFILE.logo}-->
      <!--  class="pointer-events-none drop-shadow-xl"-->
      <!--  width="60px"-->
      <!--  height="auto"-->
      <!--  alt={`logo of ${PROFILE.name}`}-->
      <!--/>-->
      <a href="/" class="items-center space-x-2 hidden md:flex">
        <span class="inline-block font-bold">{PROFILE.name}</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <a href="/posts" class={buttonVariants({ variant: "ghost" })}> Blog </a>
        <a href="/projects" class={buttonVariants({ variant: "ghost" })}>
          Projects
        </a>
        <!--<a-->
        <!--  href={PROFILE.repo}-->
        <!--  target="_blank"-->
        <!--  rel="noreferrer"-->
        <!--  class={buttonVariants({ variant: "ghost" })}-->
        <!--  GitHub-->
        <!--</a>-->

        <ModeToggle transition:persist client:load />
      </nav>
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener("astro:after-swap", function () {
    if (localStorage.getItem("theme") === "dark")
      document.documentElement.classList.toggle("dark", true);
  });

  const getThemePreference = () => {
    return localStorage.getItem("theme");
  };

  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");
</script>
